name: Build

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.6'
        bundler-cache: true
        
    - name: Install dependencies
      run: bundle install
      
    - name: Run RuboCop
      run: |
        bundle exec rubocop --version
        bundle exec rubocop
        
    - name: Run Foodcritic
      run: |
        bundle exec foodcritic --version
        bundle exec foodcritic . --exclude spec